body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

body > div {
  height: 100%;
}

body > div > div {
  height: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
